.BG {
  width: 100%;
  height: 768px;
  background: url("aboutmeimg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.TITLE {
  width: 288px;
  color: white;
  position: absolute;
  top: 202px;
  left: 539px;
  font-family: Noto Serif;
  font-weight: Regular;
  font-size: 69px;
  opacity: 1;
  text-align: left;
}
.INFO {
  width: 332px;
  color: rgba(74,66,21,1);
  position: absolute;
  top: 214px;
  left: 125px;
  font-family: Noto Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.INFO2 {
  width: 256px;
  color: rgba(74,66,21,1);
  position: absolute;
  top: 460px;
  left: 457px;
  font-family: Noto Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
